<div class= "chat-container">
 <div class='col-md-12'>
  <section class="main-visual mt-4">
    <div class="mv-text">
      <h1 class=text-center style="color: white;"> Chat <i></i></h1>
    </div>
  </section>
 </div>

 <div class="text-center">
  <%= render 'index'%>
 </div>
</div>