<div class="main-container">
  <div class="row" style="height:500px;padding:100px;">
     <div class="col" style="text-align: center; color: #777777;">
       <h2><%= @user.last_name %>様</dh2>
       <h2>ご予約ありがとうございます!</h2>
       <h2>学びと交流をお楽しみください!</h2>
     </div>
  </div>
</div>