<div class="about-container">
  <div class="row">
    <div class="col">
      <h2 class=text-center style="margin:30px;">ハオポンヨーとは？</h2>
      <h1 class=text-center style="margin:30px;">学びに必要なのは環境と仲間</h1>


<div class="d-flex" style = "padding-top:100px;">
   <div class="col-md-6 col-sm-12 col-xs-12" align = "center">
    <!--<table style ="padding:20px;"><tr><td>-->
          <h3 class=text-center >1.異国の文化に触れ、学べる“場所”を</h3>
          <h5 class=text-center >
            言語学習において「会話」とても大切な学習方法のひとつです。</br>
            </br>
            文字を見ているだけ、音を聞いているだけでは</br>
            </br>
            「自分はどのくらい上達したんだろう？」</br>
            </br>
            「もっと早く上達したい！！」</br>
            </br>
            こんな悩みを持つ事があると思います。インプットだけでなく、</br>
            </br>
            アウトプットできる場所で自分の成長に繋げてみてはいかがですか？
          </h5>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12" align="center">
         <%= image_tag 'haikei_soccer.jpg', :size =>'500x350'%>
      </div>
      <!--</td></tr></table>-->
</div>

<div class="d-flex" style = "padding-top:100px;">
   <div class="col-md-6 col-sm-12 col-xs-12" align="center">
     <%= image_tag 'haikei_soccer.jpg', :size =>'500x350'%>
   </div>
   <div class="col-md-6 col-sm-12 col-xs-12" align = "left">
     <h3 class=text-center>２.国を越えた“親友”のような仲間を</h3>
          <h5 class=text-center >
            好朋友（ハオポンヨー）とは、「親友」という意味です。</br>
            </br>
            言語学習の目的だけでなく辛いとき</br>
            </br>
            悩みを相談できる友達お互いの文化や</br>
            </br>
            価値観を共有できる友達言語や文化の壁を越えたつながりを</br>
            </br>
            そして仲間と切磋琢磨し親友のような存在を</br>
            </br>
            ぜひ「ハオポンヨー」で作ってみてください
          </h5>
   </div>
      <!--</td></tr></table>-->
</div>