<div class="main-container">
  <div class="row">
    <div class="col">
      <h2 class=text-center style="color: white;">ハオポンヨーとは？</h2>
      <h1 class=text-center style="color: white;">学びに必要なのは環境と仲間</h1>



    <table><tr><td>
          <h3 class=text-center style="color: white;">1.異国の文化に触れ、学べる“場所”を</h3>
          <h5 class=text-center style="color: white; padding:50px 100px;">
            言語学習において「会話」とても大切な学習方法のひとつです。</br>
            文字を見ているだけ、音を聞いているだけでは</br>
            「自分はどのくらい上達したんだろう？」「もっと早く上達したい！！」</br>
            こんな悩みを持つ事があると思います。インプットだけでなく、</br>
            アウトプットできる場所で自分の成長に繋げてみてはいかがですか？
          </h5>
      </td>
      <td>
          <h3 class=text-center style="color: white;">２.国を越えた“親友”のような仲間を</h3>
          <h5 class=text-center style="color: white; padding: 50px 100px;">
            好朋友（ハオポンヨー）とは、「親友」という意味です。</br>
            言語学習の目的だけでなく辛いとき、悩みを相談できる友達お互いの</br>
            文化や価値観を共有できる友達言語や文化の壁を越えたつながりを</br>
            そして仲間と切磋琢磨し親友のような存在を</br>
            ぜひ「ハオポンヨー」で作ってみてください
          </h5>
      </td></tr></table>