/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
.main-container {
  background-color: #eeeeee;
  // background-image: image-url('haikei_hotel.jpg');
  background-size: cover;
}

.header-top{
    width: 100%;
    height: 200px;
    position: relative;
}
.header-top img{
    width: 100%;
    height: 200px;
}
.header-top p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0;
    margin: 0;
    font-size: 50px;
    color: white;
}

header {
  background-color: #000;
  background-size: cover;
}


.nav-item{
  padding: px;
}

.user-container {
   background-color: #eeeeee;
  // background-image: image-url('haikei_cake.jpg');
  background-size: cover;
}

.notice-container {
  background-image: image-url('haikei_heart.jpg');
  background-size: cover;
}

.event-container {
  // background-image: image-url('haikei_soccer.jpg');
  background-size: cover;
}

.chat-container {
  background-image: image-url('haikei_garden.jpg');
  background-size: cover;
}

.pagination{
    margin: 20px auto 0;
    width: 50%;
    display: flex;
    justify-content: center;
    span{
        text-align: center;
        width: 50px;
        :hover{
            background-color:#f3f3f3;
        }
        a{
            display: block;
            width: 100%;
            height: 100%;
            :hover{
                background-color: #f3f3f3;
              }
        }
    }
}

.current{
    color: #008CFF;
}

.gap{
    background-color: white !important;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #000;
}