// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.following-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 100vh;
  // background: #000;
}

.following-btn span {
  position: relative;
  margin: 5px;
  padding: 10px 30px;
  color: #21cdff;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 3px;
  overflow: hidden;
  border: 2px solid #21cdff;
  // transition: 0s;
  // -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}



.follow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 100vh;
  // background: #21cdff;
}

.follow-btn span {
  position: relative;
  background-color: #21cdff;
  margin: 5px;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 3px;
  overflow: hidden;
  // transition: 0s;
  // -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.follow-btn span:hover {
  background: #21cdff;
  color: #fff;
  box-shadow: 0 0 50px #21cdff;
  // transition-delay: 0.5s;
}

/* ボタン左上のカッコ */
.follow-btn span::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  content: "";
  // transition: 0.5s;
}

// * ボタン右下のカッコ */
.follow-btn span::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  content: "";
  // transition: 0.5s;
}

/* ボタン左上のカッコがホバーで伸びる */
.follow-btn :hover::before {
  width: 100%;
  height: 100%;
}

/* ボタン右下のカッコがホバーで伸びる */
.follow-btn span:hover::after {
  width: 100%;
  height: 100%;
}